
.login-button {
  background-color: #ec4e95; /* Set button background color */
  color: #070707; /* Set button text color */
  width: 150px;
  padding: 10px 15px; /* Set padding */
  border: lightblue; /* Remove border */
  border-radius: 50px; /* Add border radius */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Add cursor pointer */
  transition: background-color 0.3s ease; /* Add transition for smooth effect */

  /* Optional: Add hover effect */
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('pexels-skyler-ewing-5754124 (2).jpg');
  background-size: cover;
}

.login-card {
  
        animation: slideIn 0.5s ease-in;
        background-color: #bebed6;
        
        border-radius: 15px;
        box-shadow: 2px 40px 6px rgba(14, 13, 13, 0.1);
        padding: 40px;
        width: 400px;
      }
      
      @keyframes slideIn {
        from {
          opacity: 0;
          transform: translateY(-50px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
  
  
  .login-title {
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-subtitle {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    color: #333;
  }
  .signup-card {
    animation: slideIn 0.5s ease-out;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  